<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.university_project.jobly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.AppState"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jobly">
        <activity
            android:name=".ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationView"
            android:exported="false" />
        <activity
            android:name=".client.UpdateClientProfile"
            android:exported="false" />
        <activity android:name=".chatserver.ChatActivity" />
        <activity android:name=".employee.UpdateProfileActivity" />
        <activity android:name=".client.AppliedEmployeeActivity" />
        <activity android:name=".client.EditPostActivity" />
        <activity android:name=".employee.EmployeeActivity" />
        <activity android:name=".JobPostView" />
        <activity android:name=".client.ClientActivity" />
        <activity android:name=".CreateJobPost" />
        <activity
            android:name=".accountlog.AccountLog"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>